@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

$color: #eebc1a;
@media screen and (max-width:480px) {
    .header {
        display: flex;
        padding-left: 2vw;
        width: 100vw;
        height: 40px;
        background-color: $color;
        padding-top: 10px;
        margin-top: 10px;
    }
    
    .title {
        color:aliceblue;
        font-family: 'Caveat', cursive;
        font-size: 5VW;
    }
    
    .main {
        align-items: center;
        padding: 0;
        scale: 0.9;
        display: flex;
        justify-content:right;
        width: 100%;
        padding-right: 0;
    }
    
    .button {
        color: #ffffff;
        background-color: gray;
        border-radius: 50%;
        height: 13vw;
        border: white 4px solid;
        margin-top: -9px;
    }
}
@media screen and (min-width:480px) and (max-width:599px) { 
    .header {
        display: flex;
        padding-left: 2vw;
        width: 100vw;
        height: 40px;
        background-color: $color;
        padding-top: 10px;
        margin-top: 10px;
        align-items: center;
    }
    
    .title {
        color:aliceblue;
        font-family: 'Caveat', cursive;
        font-size: 5VW;
    }
    
    .main {
        margin-top: -2vw;
        padding: 0;
        scale: 0.9;
        display: flex;
        justify-content:right;
        width: 100vw;
        margin-left: 35vw;
        margin-top: 8px;
    }
    
    .button {
        color: #ffffff;
        background-color: gray;
        border-radius: 50%;
        height: 13vw;
        border: white 4px solid;
        margin-top: -15px;
    }
}
/* 600px〜959px：タブレット
------------------------------ */
@media screen and (min-width:600px) and (max-width:959px) {
    .header {
        align-items: center;
        display: flex;
        padding-left: 2vw;
        width: 100vw;
        height: 40px;
        background-color: $color;
        margin-top: 10px;
    }
    
    .title {
        color:aliceblue;
        font-family: 'Caveat', cursive;
        font-size: 5VW;
    }
    
    .main {
        padding: 0;
       
        display: flex;
        justify-content:right;
        width: 100%;
        height: auto;
        margin-top: 13px;
        padding-right: 14vw;
    }
    
    .button {
        color: #ffffff;
        background-color: gray;
        border-radius: 50%;
        height: 6vw;
        border: white 4px solid;
        margin-top: -15px;
        height: 7vw ;
        
    }
    }
 
/* 960px〜1279px：小型PC
------------------------------ */
@media screen and (min-width:960px) and (max-width:1279px) {
    .header {
        align-items: center;
        display: flex;
        padding-left: 2vw;
        width: 100vw;
        height: 40px;
        background-color: $color;
        margin-top: 10px;
    }
    
    .title {
        color:aliceblue;
        font-family: 'Caveat', cursive;
        font-size: 5VW;
    }
    
    .main {
        padding: 0;
       
        display: flex;
        justify-content:right;
        width: 100%;
        height: auto;
        margin-top: 13px;
        padding-right: 14vw;
    }
    
    .button {
        color: #ffffff;
        background-color: gray;
        border-radius: 50%;
        height: 6vw;
        border: white 4px solid;
        margin-top: -15px;
        height: 5.3vw ;
        
    }
}
 
/* 1280px〜：大型PC
------------------------------ */
@media screen and (min-width:1280px) {
    .header {
        align-items: center;
        display: flex;
        padding-left: 2vw;
        width: 100vw;
        height: 40px;
        background-color: $color;
        margin-top: 10px;
    }
    
    .title {
        color:aliceblue;
        font-family: 'Caveat', cursive;
        font-size: 5VW;
    }
    
    .main {
        padding: 0;
        display: flex;
        justify-content:right;
        width: 100%;
        height: auto;
        margin-top: 13px;
        padding-right: 14vw;
    }
    
    .button {
        color: #ffffff;
        background-color: gray;
        border-radius: 50%;
        height: 6vw;
        border: white 4px solid;
        margin-top: -15px;
        height: 4.6vw ;
        
    }
}