@media screen and (max-width:480px) { 
.inputButton {
    display: flex;
    align-items: center;
    justify-content:space-around;
    padding: auto;
    margin: auto;
    position: fixed;
    width: 100%;
    bottom: 0px;
    font-size: 0;
    opacity: 0.9;
    z-index: 99;
    height: 15%;
    background-color: rgb(231, 239, 237);
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;

}

.button {
    width: 100px;
    height: 50px;
    border-radius: 20%;
    margin-left: 10px;
    background-color: rgba(124, 218, 187, 0.637);
    color: #ffff;
    &:hover {
        background-color: white;
    }
}

.excel {
    display: none;
    margin-left: 20px;
    background-color:white;
    color: green;
    border-color: green;
    height: 30px;
    width: 100px;
    margin-top: 8px;
}

.calender {
    font-size: small;
    background-Color: #ffff;
    padding: 15px;
    // margin-left: 10px;
    // margin-top: 50px;
    // width: 500px;
}
}

@media screen and (min-width:480px) and (max-width:599px) { 
    .inputButton {
        display: flex;
        align-items: center;
        justify-content:space-around;
        padding: auto;
        margin: auto;
        position: fixed;
        width: 100%;
        bottom: 0px;
        font-size: 0;
        opacity: 0.9;
        z-index: 99;
        height: 15%;
        background-color: rgb(231, 239, 237);
        border-top-left-radius: 10%;
        border-top-right-radius: 10%;
    
    }
    
    .button {
        font-size: 40px;
        width: 30vw;
        height: 50px;
        border-radius: 20%;
        margin-left: 10px;
        background-color: rgba(124, 218, 187, 0.637);
        color: #ffff;
        &:hover {
            background-color: white;
        }
    }
    
    .excel {
        display: none;
        margin-left: 20px;
        background-color:white;
        color: green;
        border-color: green;
        height: 30px;
        width: 100px;
        margin-top: 8px;
    }
    
    .calender {
        margin-top: -30px;
        font-size: small;
        padding: 15px;
        background-Color: #ffff;
        // margin-left: 10px;
        // margin-top: 50px;
        // width: 500px;
    }
 
}
 
/* 600px〜959px：タブレット
------------------------------ */
@media screen and (min-width:600px) and (max-width:959px) {
    .inputButton {
        display: flex;
        align-items: center;
        justify-content:space-around;
        padding: auto;
        margin: auto;
        position: fixed;
        width: 100%;
        bottom: 0px;
        font-size: 0;
        opacity: 0.9;
        z-index: 99;
        height: 15%;
        background-color: rgb(231, 239, 237);
        border-top-left-radius: 10%;
        border-top-right-radius: 10%;
    
    }
    
    .button {
        font-size: 40px;
        width: 20vw;
        height: 50px;
        border-radius: 15%;
        margin-left: 10px;
        background-color: rgba(124, 218, 187, 0.637);
        color: #ffff;
        &:hover {
            background-color: white;
        }
    }
    
    .excel {
        display: none;
        margin-left: 20px;
        background-color:white;
        color: green;
        border-color: green;
        height: 30px;
        width: 100px;
        margin-top: 8px;
    }
    
    .calender {
        margin-top: -30px;
        font-size: small;
        padding: 15px;
        background-Color: #ffff;
        // margin-left: 10px;
        // margin-top: 50px;
        // width: 500px;
    }
}
 
/* 960px〜1279px：小型PC
------------------------------ */
@media screen and (min-width:960px) and (max-width:1279px) {
    .inputButton {
        z-index: 1;
        top: 20px;
        display: flex;
        align-items: center;
        justify-content:space-around;
        width: 100%;
        bottom: 0px;
        font-size: 0;
        opacity: 0.9;
        height: 15%;
        background-color: rgb(231, 239, 237);
    }
    
    .button {
        font-size: 100px;
        width: 20vw;
        height: 15vh;
        border-radius: 20%;
        margin-left: 10px;
        background-color: rgba(124, 218, 187, 0.637);
        color: #ffff;
        &:hover {
            background-color: white;
        }
    }
    
    .excel {
        margin-left: 20px;
        background-color:white;
        color: green;
        border-color: green;
        height: 30px;
        width: 100px;
        margin-top: 8px;
    }
    
    .calender {
      
        font-size: small;
        padding: 15px;
        background-Color: #ffff;
        // margin-left: 10px;
        // margin-top: 50px;
        // width: 500px;
    }

    .container {
        margin-top: 10px;
    }
 
}
 
/* 1280px〜：大型PC
------------------------------ */
@media screen and (min-width:1280px) {
    .inputButton {
        z-index: 1;
        top: 40px;
        display: flex;
        align-items: center;
        justify-content:space-around;
        width: 100%;
        bottom: 0px;
        font-size: 0;
        opacity: 0.9;
        height: 15%;
        background-color: rgb(231, 239, 237);
    }
    
    .button {
        font-size: 40px;
        width: 20vw;
        height: 15vh;
        border-radius: 20%;
        margin-left: 10px;
        background-color: rgba(124, 218, 187, 0.637);
        color: #ffff;
        &:hover {
            background-color: white;
        }
    }
    
    .excel {
        margin-left: 20px;
        background-color:white;
        color: green;
        border-color: green;
        height: 30px;
        width: 100px;
        margin-top: 8px;
    }
    
    .calender {
        margin-top: -30px;
        font-size: small;
        padding: 15px;
        background-Color: #ffff;
        // margin-left: 10px;
        // margin-top: 50px;
        // width: 500px;
    }

    .container {
        margin-top: 10px;
    }
}