.main {
    display:flex;
    flex-flow: column;
    padding: 30px;
    margin-top: -10px;
}

.button1 {
    width: 250px;
    height: 150px;
    background-color: rgb(186, 223, 234);
    font-size: 100px;
    border-radius: 20%;
    margin-bottom: 30PX;
    &:hover {
        border-radius: 20%;
        border-color:  rgb(225, 225, 58);
        
    }
}

.button2 {
    
    width: 250px;
    height: 150px;
    background-color: rgb(186, 223, 234);
    font-size: 100px;
    border-radius: 20%;
    &:hover {
        color: rgb(215, 215, 101);
        border-radius: 20%;
        border-color:  rgb(231, 64, 120);
    }
}

.conteiner {
    background-color:#d7b5c7;
    min-height: 789px
}

.excel {
        margin-left: 30px;
        background-color:white;
        color: green;
        border-color: green;
        height: 30px;
        margin-top: 15px;
}

.calender {
    background-Color: #ffff;
    margin: 20px;
    width: 1200px;
    padding-Right: 50px;
    margin-Left: 50px;
    padding: 20px;
}