$color: #eebc1a;

@media screen and (max-width:480px) { 
    .HistoryInput {
        transform: scale(0.9);
        text-align: center;
        
    }
    .title {
        font-family: "VL Pゴシック","VL PGothic";
        margin-right: 5vw;
    }
    
    .form {
        text-align: center;
    }
    
    .TextBox {
        width:87vw;
        background-color: white;
        margin-right: 25vw;

    }
    
    .button {
        font-family: "VL Pゴシック","VL PGothic";
        margin-right: 10vw;
        width: 40vw;
        height: 30px;
        background-color: $color;
        border: gray 2px solid;
        &:hover {
            background-color: gray;
            border: $color 2px solid; 
        }
    }

.accodion {
    width: 65vw;
}

.accordionlist {
    text-align: left;
    word-wrap:break-word;
}

.list {
    padding-left: 20px;
    width: auto;
    margin: 5px;
    margin-top: -7px;
    display: flex;
}

.ListTitle {
    display: flex;
    text-align: center;
    justify-content: center;
}

.excel {
    display: none;
    margin-left: 10px;
    background-color:white;
    color: green;
    border-color: green;
    height: 30px;
    margin-top: 15px;
}



}

@media screen and (min-width:480px) and (max-width:599px) { 
    .HistoryInput {
        text-align: center;
        transform: scale(0.9);
    }
    .title {
        text-align: center;
        background-color: aqua;
    }
    
    .form {
        text-align: center;
    
    }
    
    .TextBox {
        width:80vw;
        background-color: white;
    }
    
    .button {
        width: 40vw;
        height: 30px;
        background-color: rgb(223, 185, 221);
    }
    
    .accodion {
        width: 100vw;
    }
    
    .accordionlist {
        text-align: left;
        word-wrap:break-word;
    }
    
    .list {
        padding-left: 30px;
        width: auto;
        margin: 0px;
        display: flex;
    }
    
    .ListTitle {
        display: flex;
        margin-left: 180px;
    }
    
    .excel {
        margin-left: 30px;
        background-color:white;
        color: green;
        border-color: green;
        height: 30px;
        margin-top: 15px;
    }
}
 
/* 600px〜959px：タブレット
------------------------------ */
@media screen and (min-width:600px) and (max-width:959px) {
    .HistoryInput {
        text-align: center;
        transform: scale(0.9);
    }

    .title {
        margin-right: 15vw;
        background-color: rgb(0, 255, 94);
    }
    
    .form {
        text-align: center;
    
    }
    
    .TextBox {
        right: 7.5vw;
        width:44vw;
        background-color: white;
    }
    
    .button {
        width: 40vw;
        height: 50px;
        margin-right: 20vh;
        background-color: rgb(185, 190, 223);
    }
    
    .accodion {
        width: 75vw;
    }
    
    .accordionlist {
        text-align: left;
        word-wrap:break-word;
    }
    
    .list {
        padding-left: 20px;
        width: auto;
        margin: 20px;
        display: flex;
    }
    
    .ListTitle {
        display: flex;
        justify-content: center;
        margin-left: 180px;
    }
    
    .excel {
        margin-left: 30px;
        background-color:white;
        color: green;
        border-color: green;
        height: 30px;
        margin-top: 15px;
    }
}
 
/* 960px〜1279px：小型PC
------------------------------ */
@media screen and (min-width:960px) and (max-width:1279px) {
    .HistoryInput {
        text-align: center;
        transform: scale(0.9);
    }

    .title {
        width: 90vw;
        background-color: rgb(0, 166, 255);
    }
    
    .form {
        text-align: center;
        display: flex;
    }
    
    .TextBox {
        width:40vw;
        background-color: white;
    }
    
    .button {
        width: 80px;
        height: 55px;
        background-color: rgb(223, 185, 221);
    }
    
    .accodion {
        width: 73vw;
    }
    
    .accordionlist {
        text-align: left;
        word-wrap:break-word;
    }
    
    .list {
        padding-left: 50px;
        width: auto;
        margin: 20px;
        display: flex;
    }
    
    .ListTitle {
        display: flex;
        justify-content: center;
        margin-left: 40px;
    }
    
    .excel {
        margin-left: 30px;
        background-color:white;
        color: green;
        border-color: green;
        height: 30px;
        margin-top: 15px;
    }
 
}
 
/* 1280px〜：大型PC
------------------------------ */
@media screen and (min-width:1280px) {
    .HistoryInput {
        text-align: center;
        transform: scale(0.9);
    }

    .title {
        width: 95vw;
        text-align: center;
    }
    
    .form {
        width: 100vw;
        display: flex;
    }
    
    .TextBox {
        width:41vw;
        background-color: white;
    }
    
    .button {
        width: 80px;
        height: 55px;
        background-color: orange;
        &:hover {
            background-color: gray;
        }
    }
    
    .accodion {
        width: 75vw;
    }
    
    .accordionlist {
        text-align: left;
        word-wrap:break-word;
    }
    
    .list {
        padding-left: 50px;
        width: auto;
        margin: 20px;
        display: flex;
    }
    
    .ListTitle {
        margin-top: 20px;
        justify-content: center;
        display: flex;
    }
    
    .excel {
        margin-left: 30px;
        background-color:white;
        color: green;
        border-color: green;
        height: 30px;
        margin-top: 1px;
    }
 
}