.h2 {
    text-decoration: underline;
}

.table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 300px;
    text-align: center;
   }
   .table th {
    border-bottom: solid 3px #3dbfb8;
    padding: 10px;
    width: 25%;
    color: #3dbfb8
   }
   .table td {
    border-bottom: solid 1px #3dbfb8;
    padding: 10px;
    width: 25%;
   }

.main {
    
    margin-left: 250px;
}