.container {
    width: 1000px;
    padding-right: 200px;
    color: orange;              /* 文字色 */
    margin-left: 200px;              /* 外側の余白 */
    left: 1000px;
    border-radius:  5px;        /* 角丸指定 */
    border-style: solid;
    
}