.container {
  display: flex;
  scroll-snap-type: x mandatory;
  width: 100%;
  overflow-x: scroll;
  display: flex;
  -webkit-overflow-scrolling: touch; /* スマホ対応のため必須 */
  overflow-scrolling: touch; /* スマホ対応のため必須 *
  
  /* 以下デモ用のデザイン */
  height: 100px;
}
.container > div{
  /* 以下の設定は必須 */
  scroll-snap-align: center;
  height: 100%;
  width: 100%;
  flex: none;
  
  /* 以下デモ用のデザイン */
  color: #cb2929;
  font-size: 150%;
  font-weight: bold;
  /* 文字の上下左右中央寄せのための記述 */
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn_m1 .btn_m2 {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  padding: 10px 25px;
  color: #FFF;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  background: #e498e7;
  border-radius: 8px;
  border-bottom: solid 5px #de1dd8;
  text-decoration: none;

&:hover {
  border-bottom: solid 2px #de1dd8;
  transform: translateY(3px);
  }
}
.btn_f1 .btn_f2 {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  padding: 10px 25px;
  color: #FFF;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  background: #6bb6ff;
  border-radius: 8px;
  border-bottom: solid 5px #1d7fde;
  text-decoration: none;
  &:hover {
  border-bottom: solid 2px #1d7fde;
  transform: translateY(3px);
  }
}

.btn_s1 .btn_s2 {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  padding: 10px 25px;
  color: #FFF;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  background: #e692a5;
  border-radius: 8px;
  border-bottom: solid 5px #de1dae;
  text-decoration: none;

&:hover {
  border-bottom: solid 2px #de1dae;
  transform: translateY(3px);
  }
}

.btn_b1 .btn_b2 {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  padding: 10px 25px;
  color: #FFF;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  background: #98e6bd;
  border-radius: 8px;
  border-bottom: solid 5px #7de38c;
  text-decoration: none;

&:hover {
  border-bottom: solid 2px #7de38c;
  transform: translateY(3px);
  }
}

.btn_gf1 .btn_gf2 {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  padding: 10px 25px;
  color: #FFF;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  background: #94d2e2;
  border-radius: 8px;
  border-bottom: solid 5px #51cae9;
  text-decoration: none;

&:hover {
  border-bottom: solid 2px #51cae9;
  transform: translateY(3px);
  }
}

.btn_gm1 .btn_gm2 {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  padding: 10px 25px;
  color: #FFF;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  background: #cb94dc;
  border-radius: 8px;
  border-bottom: solid 5px #b94dda;
  text-decoration: none;

&:hover {
  border-bottom: solid 2px #b94dda;
  transform: translateY(3px);
  }
}

.btn_d1 .btn_d2 {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  padding: 10px 25px;
  color: #FFF;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  background: #e69d9d;
  border-radius: 8px;
  border-bottom: solid 5px #e14242;
  text-decoration: none;

&:hover {
  border-bottom: solid 2px #e14242;
  transform: translateY(3px);
  }
}

